@use "globals";

.global {
    font-family: globals.$font-ibm;
    background-color: globals.$blue;
    color: globals.$white;
    scroll-behavior: smooth;

    
    p, h1 {
        span{
            color: globals.$green;
        }
    }

    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        width: 100%;
    }

    a {
        color: globals.$white;
        text-decoration: none;
    }

}